.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: white;
    border-bottom: 1px solid #eee;
}

.logo {
    font-weight: bold;
    color: black;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

