.hero {
    height: calc(100vh - 72px);
    /* Navbar yüksekliğini çıkarıyoruz */
    display: flex;
    align-items: center;
    padding: 0 64px;
}

.title {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 16px;
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 40px;
}

.ctaBtn {
    min-width: 173px;
}