
.hero {
    height: 80vh;
    background-image: url("https://images.unsplash.com/photo-1504851149312-7a075b496cc7");
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    color: white;
    position: absolute;
    top: 40%;
    left: 10%;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #2f6b5f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}