.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

/* BUTTONS */
.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.searchBtn {
    width: 100%;
    padding: 12px;
    background: #839b8d;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.clearBtn {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background: white;
}